module/Joystick/Joystick-backups/Joystick-2026-01-17_110613.zip
module/Joystick/Joystick-backups/Joystick-2026-01-17_111908.zip
module/Joystick/Joystick-backups/Joystick-2026-01-17_211053.zip
module/Joystick/Joystick-backups/Joystick-2026-01-17_212313.zip
module/Joystick/Joystick.kicad_pcb
module/Joystick/Joystick.kicad_prl
module/Modules/fp-info-cache
